---
import AcmeLogo from "../images/AcmeLogo.astro";
---

<footer class="flex w-full flex-col gap-4 rounded-xl p-4 dark:text-white">
	<section class="flex flex-col justify-evenly gap-4 md:flex-row md:gap-0">
		<section
			class="md:text-baseline flex w-[85%] flex-col justify-around gap-8 md:flex-row md:gap-0"
		>
			<div class="flex flex-col gap-4">
				<AcmeLogo class="h-[28px] w-[100px]" />
				<ul class="space-y-4 *:hover:underline md:space-y-1.5">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/">Careers</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/">Legal</a></li>
					<li><a href="/">Service Status</a></li>
				</ul>
			</div>
			<div class="flex flex-col gap-4">
				<h2 class="text-lg font-semibold">Solutions</h2>
				<ul class="space-y-4 *:hover:underline md:space-y-1.5">
					<li>
						<a href="/solutions" class="hover:cursor-pointer hover:underline">Web Analytics</a>
					</li>
					<li>
						<a href="/solutions" class="hover:cursor-pointer hover:underline"
							>User Behavior Analysis</a
						>
					</li>
					<li>
						<a href="/solutions" class="hover:cursor-pointer hover:underline"
							>Conversion Rate Optimization</a
						>
					</li>
					<li><a href="/solutions" class="hover:cursor-pointer hover:underline">A/B Testing</a></li>
					<li>
						<a href="/solutions" class="hover:cursor-pointer hover:underline">Data Visualization</a>
					</li>
				</ul>
			</div>
			<div class="flex flex-col gap-4">
				<h2 class="text-lg font-semibold">Support</h2>
				<ul class="space-y-4 *:hover:underline md:space-y-1.5">
					<li><a href="/">Help Center</a></li>
					<li><a href="/">Acme Forums</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
		</section>
	</section>
	<hr class="my-4 h-0.5 border-t-0 bg-neutral-200 md:mx-12 dark:bg-neutral-700" />
	<section
		class="flex flex-col-reverse justify-evenly gap-8 md:flex-row md:items-center md:gap-16 dark:text-white"
	>
		<!-- TODO: Change name -->
		<div class="text-xs font-semibold">Copyright &copy; 2025 Brenden Kohut</div>
		<div class="flex flex-col gap-8 md:flex-row md:gap-24">
			<a href="/">Terms of Service</a>
			<a href="/">Privacy Policy</a>
			<a href="/">Sitemap</a>
		</div>
	</section>
</footer>
