---
import NavMenu from "./NavMenu.astro";
import AcmeLogo from "../images/AcmeLogo.astro";
---

<nav class="flex w-full justify-between bg-white dark:bg-neutral-900 dark:text-white">
	<a href="/" class="duration-200 hover:scale-110 hover:cursor-pointer">
		<AcmeLogo class="h-[35px] w-[125px]" />
	</a>
	<NavMenu />
</nav>
