---
import NavMenu from "./NavMenu.astro";
import AcmeLogo from "../svgs/AcmeLogo.svg";
---

<nav
  class="flex justify-between bg-white dark:bg-neutral-900 w-full dark:text-white"
>
  <a href="/" class="hover:cursor-pointer hover:scale-110 duration-200">
    <AcmeLogo />
  </a>
  <NavMenu />
</nav>
