---
import MobileMenuButton from "./MobileMenuButton.astro";
import ThemeToggle from "./ThemeToggle.astro";
import RightArrow from "../images/RightArrow.astro";
---

<div>
	<ul id="menu" class="hidden *:hover:underline lg:flex lg:gap-20">
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/about">About</a>
		</li>
		<li>
			<button>Solutions</button>
		</li>
		<li>
			<button>Blog</button>
		</li>
		<li>
			<button>Contact</button>
		</li>
		<li id="theme-toggle">
			<div
				class="rounded-md p-0.5 duration-200 ease-in-out hover:scale-125 hover:cursor-pointer hover:bg-neutral-300 dark:hover:bg-neutral-600"
			>
				<ThemeToggle />
			</div>
		</li>
	</ul>
	<MobileMenuButton />
	<ul
		id="mobile-menu"
		class="absolute left-0 mt-3 hidden w-full flex-col gap-4 bg-white py-5 shadow-lg dark:bg-neutral-900"
	>
		<li>
			<a href="/" class="flex w-full justify-between px-6 py-3">
				Home
				<RightArrow class:list={"w-3 fill-black dark:fill-white"} />
			</a>
		</li>
		<li>
			<a href="/about" class="flex w-full justify-between px-6 py-3">
				About
				<RightArrow class:list={"w-3 fill-black dark:fill-white"} />
			</a>
		</li>
		<li>
			<button class="flex w-full justify-between px-6 py-3">
				Solutions
				<RightArrow class:list={"w-3 fill-black dark:fill-white"} />
			</button>
		</li>
		<li>
			<button class="flex w-full justify-between px-6 py-3">
				Blog
				<RightArrow class:list={"w-3 fill-black dark:fill-white"} />
			</button>
		</li>
		<li>
			<button class="flex w-full justify-between px-6 py-3">
				Contact
				<RightArrow class:list={"w-3 fill-black dark:fill-white"} />
			</button>
		</li>
		<li id="theme-toggle">
			<div
				class="flex rounded-md px-6 py-3 duration-200 ease-in-out hover:scale-125 hover:cursor-pointer hover:bg-neutral-600"
			>
				<ThemeToggle />
			</div>
		</li>
	</ul>
</div>
