---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
	<h1 class="mb-6 text-center text-3xl font-bold">Contact Us</h1>
	<form class="w-md rounded-md bg-neutral-50 p-6 shadow-md dark:bg-neutral-800">
		<div class="mb-4">
			<label class="mb-2 block text-sm font-bold text-neutral-700 dark:text-neutral-300" for="name"
				>Name</label
			>
			<input
				class="focus:shadow-outline w-full appearance-none rounded border border-neutral-300 px-3 py-2 leading-tight text-neutral-700 shadow focus:outline-none dark:border-neutral-600 dark:bg-neutral-700 dark:text-neutral-300"
				id="name"
				type="text"
				placeholder="Your Name"
				required
			/>
		</div>
		<div class="mb-4">
			<label class="mb-2 block text-sm font-bold text-neutral-700 dark:text-neutral-300" for="email"
				>Email</label
			>
			<input
				class="focus:shadow-outline w-full appearance-none rounded border border-neutral-300 px-3 py-2 leading-tight text-neutral-700 shadow focus:outline-none dark:border-neutral-600 dark:bg-neutral-700 dark:text-neutral-300"
				id="email"
				type="email"
				placeholder="Your Email"
				required
			/>
		</div>
		<div class="mb-4">
			<label
				class="mb-2 block text-sm font-bold text-neutral-700 dark:text-neutral-300"
				for="message">Message</label
			>
			<textarea
				class="focus:shadow-outline max-h-96 w-full appearance-none rounded border border-neutral-300 px-3 py-2 leading-tight text-neutral-700 shadow focus:outline-none dark:border-neutral-600 dark:bg-neutral-700 dark:text-neutral-300"
				id="message"
				rows="6"
				placeholder="Your Message"
				required></textarea>
		</div>
		<div class="flex items-center justify-between">
			<button
				class="focus:shadow-outline rounded bg-[#6c63ff] px-4 py-2 font-bold text-white hover:cursor-pointer hover:bg-[#625bec] focus:outline-none"
				type="submit"
			>
				Send
			</button>
		</div>
	</form>
</Layout>
