---

---

<div>
    <ul id="menu" class="hidden lg:flex lg:gap-20">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Solutions</a>
        </li>
        <li>
            <a href="#">Blog</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
    <svg
        id="hamburger"
        class="fill-black lg:hidden"
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        ><path
            d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
        ></path></svg
    >
    <svg
        id="close"
        class="fill-black hidden"
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        ><path
            d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
        ></path></svg
    >
    <ul
        id="mobile-menu"
        class="bg-white w-full flex-col gap-4 hidden absolute left-0 mt-3 py-5 shadow-lg"
    >
        <li>
            <a href="#" class="px-6 py-3 flex justify-between">
                Home
                <svg
                    class="fill-black w-3"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 -960 960 960"
                    ><path
                        d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"
                    ></path></svg
                >
            </a>
        </li>
        <li>
            <a href="#" class="px-6 py-3 flex justify-between">
                About
                <svg
                    class="fill-black w-3"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 -960 960 960"
                    ><path
                        d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"
                    ></path></svg
                >
            </a>
        </li>
        <li>
            <a href="#" class="px-6 py-3 flex justify-between">
                Solutions
                <svg
                    class="fill-black w-3"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 -960 960 960"
                    ><path
                        d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"
                    ></path></svg
                >
            </a>
        </li>
        <li>
            <a href="#" class="px-6 py-3 flex justify-between">
                Blog
                <svg
                    class="fill-black w-3"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 -960 960 960"
                    ><path
                        d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"
                    ></path></svg
                >
            </a>
        </li>
        <li>
            <a href="#" class="px-6 py-3 flex justify-between">
                Contact
                <svg
                    class="fill-black w-3"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 -960 960 960"
                    ><path
                        d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"
                    ></path></svg
                >
            </a>
        </li>
    </ul>
</div>
