---
import Footer from "../components/layouts/Footer.astro";
import Navigation from "../components/layouts/Navigation.astro";
import "../styles/global.css";
const { title } = Astro.props;
---

<!doctype html>
<html class="bg-neutral-50 dark:bg-neutral-800" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{`Acme | ${title}`}</title>
	</head>
	<body
		class="m-auto flex min-h-screen w-full flex-col items-center gap-4 rounded-xl bg-white p-6 md:gap-8 dark:bg-neutral-900 dark:text-white"
	>
		<Navigation />
		<div class="flex w-full flex-1 flex-col items-center">
			<slot />
		</div>
		<Footer />
	</body>
</html>
